*{
  overflow-x: hidden;
}

.card{
  border: 1px solid #000;
}
.card-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.count-btn{
  outline: none;
  border: none;
  width: 25px;
  height: 30px;
}
.add-cart{
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 12px;
}
.title{
  font-weight: 700;
}